<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAYE Calculator</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="card">
      <h2>PAYE Calculator</h2>
      <p class="note">Deductions include NSSF, SHIF, Housing Levy & PAYE</p>

      <form id="salaryForm" action="/api/v1/calculate-gross-pay" method="post">
        <label for="gross">Gross Salary (KES)</label>
        <input
          type="number"
          id="gross"
          name="grosspay"
          placeholder="e.g. 50,000"
          required
        />
        <button type="submit">Calculate Net Pay</button>
      </form>

      <div class="results" id="results">
        <p>
          <b>Results: (Payslip for <span id="monthYear"></span>)</b>
        </p>
        <p>Gross Salary <span id="grossOut"></span></p>
        <p>NSSF <span id="nssfOut"></span></p>
        <p>SHIF: <span id="shifOut"></span></p>
        <p>Housing Levy: <span id="housingOut"></span></p>
        <p>Taxable Income: <span id="taxableOut"></span></p>
        <p>Income Tax: <span id="incomeTaxOut"></span></p>
        <p>Personal Relief: <span id="personalReliefOut"></span></p>
        <p>P.A.Y.E: <span id="payeOut"></span></p>
        <p>Total Deductions: <span id="deductionsOut"></span></p>
        <p>Error: <span id="error" class="error"></span></p>
        <hr />
        <p><strong>Net Salary:</strong> <span id="netOut"></span></p>
      </div>
    </div>
  </body>
</html>
